[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"
jupyterlab-git = "*"

[packages]
pandas = "*"
tensorflow = "*"
transformers = "*"
pandarallel = "*"
s3fs = "*"
scikit-learn = "*"
nltk = "*"
boto3 = "*"
ktrain = "*"
sagemaker = "*"
torch = "*"
torchvision = "*"
fasttext = "*"
ktrain-eli5 = {git = "https://github.com/amaiya/eli5", ref = "tfkeras_0_10_1"}

[requires]
python_version = "3.7"
