[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"
jupyterlab-git = "*"

[packages]
pandas = "*"
tensorflow = "*"
transformers = "*"
pandarallel = "*"
s3fs = "*"
scikit-learn = "*"
nltk = "*"
boto3 = "*"
ktrain = "*"
sagemaker = "*"

[requires]
python_version = "3.7"
